@import url('http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Racing+Sans+One&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Racing+Sans+One&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


html, body { 
  font-family: "Ubuntu", serif;
}

.roboto {
  font-family: "Roboto", serif;
  font-weight: bolder;
  color: black;
  text-shadow: -1px 0 rgba(67, 21, 103, 1), 0 1px rgba(67, 21, 103, 1), 1px 0 rgba(67, 21, 103, 1), 0 -1px rgba(67, 21, 103, 1);
  font-size: 48px;
}

.racingsansone {
  font-family: "Racing Sans One", serif;
  font-weight: bolder;
  color: #E1A1E9;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 48px;
}

@keyframes bounce-in {
  0% {
    transform: translateX(-100vw);
  }
  50% {
    transform: translateX(30px);
  }
  70% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0); 
  }
}

.welcome-button {
  animation: bounce-in 1.5s ease-out;
}